<template name="userview_diagram">
    <header>
        <div class="header-bar">
            <a href="{{path_polls_index}}">
                <i class="fa fa-chevron-left fa-2x fa-pull-left "></i>
            </a>
            <h3> {{poll.title}}</h3>
              <span class="profile">
            {{ > loginButtons}}
          </span>
        </div>
    </header>

  <div class="mypollslist">

    <div id="polls_diagram">


        <div id="diagram_div">
            {{#if poll.charttype}}
                {{> highchartsHelper chartId="diagram" chartWidth="100%" chartHeight="auto" chartObject=generateColumnChart}}
            {{else}}
                {{> highchartsHelper chartId="diagram" chartWidth="100%" chartHeight="auto" chartObject=generatePieChart}}
            {{/if}}
        </div>


        <div class="ui styled accordion">   
            {{#each poll.options_poll}}
              <div class="title"><i class="dropdown icon"></i>{{optiontitle}}    {{optioncount}}</div>

              <div class="content">

                  {{#each persons}}
                      <p class="transition">{{this}}</p>
                  {{/each}}


                </div>
            {{/each}}
        </div>

        {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChart}}

      </div>
</div>

</template>