<template name="polls_share">

    <div vue="polls_share">

        <header>
            <div class="header-bar">
                <a href="{{path_polls_index}}">
                    <i class="fa fa-chevron-left fa-2x fa-pull-left "></i>
                </a>
                <h3>Share your Poll</h3>
                {{ > loginButtons}}
            </div>
        </header>

        <h4>[[poll.title]]</h4>

        <div class="mypollslist">

            <div class="mypoll">

                <p>Copy <span class="link"><a href="/polls/show/[[poll._id]]">this Link</a></span> and share it however you'd like!</p>
            </div>
        </div>

    </div>

</template>
